body {
  background-image: url(img/vecteezy_abstract-white-fluid-wave-background_7075692.jpg);
  animation: back 30s linear;
  animation-iteration-count: infinite;
  overflow: hidden;
}

@keyframes back {
  0% {
    background-position: 0px 0px;
  }
  50% {
    background-position: -205px -100px;
  }
  100% {
    background-position: -339px -141px;
  }
}

.active {
}

#winnerText {
  font-size: 100px;
}

#game-container {
  margin: auto;
  width: 600px;
  text-align: center;
}

#player1-panel,
#player2-panel {
  background-color: #f2f2f2;
  display: inline-block;
  padding: 20px;
  margin: 10px;
  border: 2px solid #ccc;
  border-radius: 10px;
  width: 150px;
  vertical-align: top;
}

.player-name {
  font-size: 20px;
  margin-bottom: 5px;
  text-transform: uppercase;
}

.player-score {
  font-size: 30px;
}

#question-container {
  margin-top: 50px;
  padding: 20px;
  background-color: #f2f2f2;
  border: 2px solid #ccc;
  border-radius: 10px;
}

#question {
  font-size: 24px;
  margin-bottom: 20px;
}

.answer-option {
  display: inline-block;
  margin: 10px;
  padding: 10px;

  border: 2px solid #ccc;
  border-radius: 10px;
  cursor: pointer;
}

#next-question-btn {
  margin-top: 20px;
  padding: 10px 20px;
  background-color: #4caf50;
  color: #fff;
  border: none;
  border-radius: 10px;
  font-size: 16px;
  cursor: pointer;
  transition: 300ms;
}
#player1-panel {
  background-image: url(img/descarga.jpeg);
  background-position-y: 161px;
  background-size: 93%;
  background-position-x: 43%;
}
#player2-panel {
  background-image: url(img/png-transparent-cartoon-boy-student-child-hand-photography.png);
  background-size: 190px;
}

.vs {
  text-shadow: 0px 0px 1px rgb(233, 35, 101), 0px 0px 2px rgb(87, 5, 5);
  transform: scale(1.5, 1.5);
}
.hidden {
  display: none;
}
.correct {
  background-color: #28a745;
}

.incorrect {
  background-color: #dc3545;
}
#reset-btn {
  margin-top: 20px;
  padding: 10px 20px;
  background-color: #4caf50;
  color: #fff;
  border: none;
  border-radius: 10px;
  font-size: 16px;
  cursor: pointer;
}

#StartGame-btn {
  margin-top: 20px;
  padding: 10px 20px;
  background-color: #4caf50;
  color: #fff;
  border: none;
  border-radius: 10px;
  font-size: 16px;
  cursor: pointer;
}

button {
  text-shadow: 0px 0px 1px rgb(233, 35, 101), 0px 0px 2px rgb(87, 5, 5);
  transform: scale(1, 1);
}

button:hover {
  box-shadow: 0px 0px 8px rgb(8, 12, 43);
  transition: all 300ms;
}

.answer-option:hover {
  box-shadow: 0px 0px 8px rgb(156, 156, 158);
  transition: 300ms;
}

/* IphoneXR */
@media only screen and (min-width: 393px) and (max-height: 851px) {
  #player1-panel {
    margin-left: -195px;
  }
  body {
    background-image: url(img/vecteezy_abstract-white-fluid-wave-background_7075692.jpg);
  }
  #player2-panel {
    margin-left: -7px;
  }

  .vs {
    margin-left: -205px;
  }
  #StartGame-btn {
    margin-left: -190px;
  }
  #question-container {
    width: 350px;

  }

  #next-question-btn {
    margin-left: -190px;

  }
  #game-container {
    margin-left: -9px;
    width: 600px;
  }
}

