body {
  height: 100%;
  font-family: "Poppins", sans-serif;
  background-image: url(img/question-mark-sign-led-light-illustration.jpg);
  /* animation: back 30s linear;
  animation-iteration-count: infinite; */
  display: flex;
  text-align: center;
  align-items: center;
  justify-content: center;
  background-size: cover;
  color: #080808ab;
}

/* @keyframes back {
  0% {
    background-position: 0px 0px;
  }
  50% {
    background-position: -205px -100px;
  }
  100% {
    background-position: -339px -141px;
  }
} */

#winnerText {
  font-size: 100px;
}

#game-container {
  width: 600px;
}

#player1-panel,
#player2-panel {
  display: inline-block;
  padding: 20px;
  margin: 10px;
  border: 2px solid #ccc;
  border-radius: 10px;
  width: 150px;
  vertical-align: top;
}

.player-score {
  font-size: 36px;
}

#question-container {
  margin-top: 50px;
  padding: 20px;
  background-color: #f2f2f261;
  border: 2px solid #ccc;
  border-radius: 10px;
}

#question {
  font-size: 24px;
  margin-bottom: 20px;
}

.answer-option {
  display: inline-block;
  margin: 10px;
  padding: 10px;
  border: 2px solid #ccc;
  border-radius: 10px;
  cursor: pointer;
}

#next-question-btn {
  margin-top: 20px;
  padding: 10px 20px;
  background-color: #4caf50;
  color: #fff;
  border: none;
  border-radius: 10px;
  font-size: 16px;
  cursor: pointer;
  transition: 300ms;
  margin-left: 13px;
}

.vs {
  text-shadow: 0px 0px 1px rgb(32, 101, 92), 0px 0px 2px rgb(2, 7, 7);
  transform: scale(1.5, 1.5);
}
.hidden {
  display: none;
}
.correct {
  background-color: #28a745;
}

.incorrect {
  background-color: #dc3545;
}

button {
  text-shadow: 0px 0px 1px rgb(233, 35, 101), 0px 0px 2px rgb(87, 5, 5);
  transform: scale(1, 1);
  font-family: inherit;
  margin-top: 20px;
  padding: 10px 20px;
  background-color: #4caf50;
  color: #fff;
  border: none;
  border-radius: 10px;
  font-size: 16px;
  cursor: pointer;
}

button:hover {
  box-shadow: 0px 0px 8px rgb(8, 12, 43);
  transition: all 300ms;
}

.answer-option:hover {
  box-shadow: 0px 0px 8px rgb(156, 156, 158);
  transition: 300ms;
}
.active {
  background-color: #f2f2f261;
  animation: pulse 2s infinite;
}

@keyframes pulse {
  0% {
    transform: scale(0.9);
    box-shadow: 0 0 0 0 blue;
  }
  70% {
    transform: scale(1);
    box-shadow: 0 0 0 6px blue;
  }
  100% {
    transform: scale(0.9);
  }
}
.panels {
  display: flex;
  gap: 2rem;
  align-items: center;
  justify-content: center;
}

@media (max-width: 50rem) {
  body {
    background-size: auto;
  }
  .panels {
    gap: 1rem;
  }

  #answer-options {
    display: flex;
    flex-direction: column;
  }

  #question-container {
    width: 400px;
    margin: 50px auto;
  }
  #player1-panel,
  #player2-panel {
    width: 120px;
    padding: 15px;
  }
}

@media (max-width: 30rem) {
  .panels {
    flex-direction: column;
    align-items: center;
    gap: 0;
  }

  #player1-panel,
  #player2-panel {
    display: inline-block;
    padding: 10px;
    margin: 5px;

    width: 150px;
    vertical-align: top;
  }
  #question-container {
    width: 300px;
  }
  h3 {
    margin: 0;
  }
}
